.section_hero{
    width: 100%;
    height: 93vh;
    background-color: white ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #0D2F3F;


    h1{
        margin-top: 20px;
        font-size: 30px;
    }
    
}

.asideL {
    width: 25%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;

    h1{
        margin-left: 20px;
        margin-top: 140px;
        font-size: 35px;

        span{
            color: purple;
        }
    }

    h2{
        margin-top: 50px;
        margin-right: 20px;
        font-size: 30px;
    }

    span{
        color: #23C7C7;
    }
}

.class_ICons{
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.div_center {
    width: 50%;
    height: 93vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div_img {
    width: 600px;
    height: 650px;
    background-color: white;   
    margin-top: 160px;
    justify-content: center;
}

.minhafoto {
    width: 600px;
    height: 650px;
}


.asideR {
    width: 25%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h1{
        margin-bottom: 90px;
    }
}

@media (max-width: 768px) {
    .section_hero{
        flex-direction: column;
    }

    .asideL{
        width: 100%;
        height: 20vh;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 30px;
        }

        h2{
            margin-bottom: 20px;
        }
        
    }

    .div_center{
        width: 100%;
        height: 270vh;
        align-items: center;
        justify-content: center;


        .div_img{
            width: 320px;
            height: 320px;
            margin-top: 130px;
            margin-bottom: 0px;
        }
    }

    .asideR{
        width: 100%;
        

        p{
            margin-top: 30px;
            font-size: 20px;
            font-weight: 300;
        }

        h1{
            margin-bottom: 40px;
        }
    }
}