.footer_page{
    width: 100%;
    height: 30vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infos{
    width: 35%;
    height: 30vh;
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    
    .sobre{
        width: 100%;
        height: 20vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .redes{
        width: 100%;
        height: 10vh;
        background-color: darkcyan;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

}

.links{
    width: 35%;
    height: 30vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contatos{
    width: 35%;
    height: 30vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h2{
        padding-bottom: 25px;
    }
}