.contatos_page{
    width: 100%;
    height: 93vh;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Informações da pagina*/

.infos {
    width: 100%;
    height: 21vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;


    .sobre{
        width: 130px;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 300px;
    }

}

/*Final das informações da pagina*/


/*Formas de entrar em contato*/
.forma_contato{
    width: 100%;
    height: 72vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 20px;
        margin-left: 20px;
    }
}
.opcao_contato{ 
    width: 50%;
    height: 72vh;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.formas_contato{
    width: 80%;
    height: 45vh;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
    
}

.contato{
    width: 90%;
    height: 70px;
    background-color: white;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;

    p{
        padding-left: 20px;
    }
    
}

/*Final das formas de entrar em contato*/


/*Estilo do formulario*/

.formulario{
    width: 50%;
    height: 72vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desgin_form{
    width: 76%;
    height: 53vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20px;
    


    label{
        margin-left: 10px;
        margin-top: 10px;
    }

    .input{
        width: 450px;
        height: 60px;
        margin-left: 5px;
        border-radius: 20px;
        border: 2px solid rgb(185, 183, 183);
        padding-left: 20px;
    }

    .texto{
        width: 450px;
        height: 160px;
        margin-left: 5px;
        border-radius: 20px;
        border: 2px solid rgb(185, 183, 183);
        padding-left: 20px;
        padding-top: 15px;
    }

    
}

.btn_enviar{
    width: 350px;
    height: 60px;
    margin-top: 20px;
    border-radius: 20px;
}

/*Final estilo formulario*/

