.contatos_page{
    width: 100%;
    height: 93vh;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos {
    width: 100%;
    height: 21vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;


    .sobre{
        width: 130px;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 300px;
    }

    h1{
        font-size: 60px;
    }

    span{
        background: -webkit-linear-gradient(#7F35AA, #2FC3E4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
