.header_nav{
    width: 100%;
    height: 60px;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: wheat;
}

span{
        background: -webkit-linear-gradient(#7F35AA, #2FC3E4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.Nav {
    background-color: white;
    display: flex;
    flex-direction: row;  
}


.curriculo_buttom{
    width: 180px;
    height: 40px;
    background-color: #23C7C7;
    color: white;
}