.Skills_page{
    width: 100%;
    height: 93vh;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos {
    width: 100%;
    height: 21vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;


    .sobre{
        width: 130px;
        height: 50px;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        border-radius: 300px;
    }
}


.categorias{
    width: 100%;
    height: 75vh;
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Skills_geral{
    width: 29%;
    height: 40vh;
    background-color: lightsalmon;

    h1{
        font-size: 30px;
    }
}